#root {
  padding: 2rem;
  text-align: center;
}

.appBody{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: pixelFont;
  src: url('../public/font/pixelFont.ttf')format('truetype');
}

@font-face {
  font-family: TenorSans;
  src: url('../public/font/TenorSans-Regular.ttf') format('truetype');
}

.myFont {
  font-family: pixelFont, TenorSans;
}