.dateTimeDisplay {
    display: block;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust height as needed */
}

.date {
    font-size: 36px; /* Adjust font size as needed */
    font-weight: bold;
    color: #13361E; /* Adjust color as needed */
}
