.dateTimeDisplay {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dateAlign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}
.date {
    font-size: 36px;
    font-weight: bold;
}

.dateText{
    background-color: #137D57;
    color: #D5D4F3;
    width: 150%;
    height: 30%;
    transform: translate(-20%, 0%);
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    font-size: 24px;
    text-align: center;
}