.entryField{
    overflow: auto;
    background-color: #cee7a7ad;
    color: #1a1a1a;
    border-radius: 15px;
    border-color: #a1b87cad;
    border-width: 2px;
    padding: 15px;
    width: 35vw;
    height: 60vh;
}

.buttonRound {
    margin: 10px;
    position: relative;
    cursor: pointer;
    background-color: #d5d4f3;
    color: #7691e2;
    transition: background-color 0.3s ease;
}

.buttonRound:hover {
    color: #d5d4f3;
    background-color: #7691e2;
    border-color: #7691e2;
}
