.flexContainer{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.entry{
    padding-top: 4.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Required for offsetting the buttonBar */
}
.arrowButton{
    margin-top: 1.5vh;
    margin: 1vw;
}

.buttonBar {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0); /* Center horizontally */
    margin-left: -50px; /* Shift 200px to the left */
}

.entryPageHeader{
    font-family: pixelFont;
    font-size: 26px;
    color: #13361E;
}

.entries {
    background-color: #92D48C;
}

.calendarStyle {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.nonselectabledates {
    position: relative;
    color:#546153;
}

.selected {
    background-color: #92D48C;
    border-color: #0d0e0de0;
    border-radius: 15px;
}