.flexContainer{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.entry{
    padding-top: 4.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Required for offsetting the buttonBar */
}
.arrowButton{
    margin-top: 1.5vh;
    margin: 1vw;
}

.buttonBar {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0); /* Center horizontally */
    margin-left: -50px; /* Shift 200px to the left */
}