.habit{
    padding: 15px;
    overflow-x: hidden;
}


.habitHeader{
    font-family: pixelFont;
    font-size: 26px;
    margin: 15px;
    color: #13361E;
    width: 100vw;
}

.habitButton{
    background-color: #7691E2 !important;
    color: #D7E5D6 !important;
    margin: 5px;
    font-size: clamp(12px, 2vw, 18px);
}

.tabellenHeader{
    background-color: #D7E5D6;
    color: #13361E;
}

.changeFont{
    font-family: pixelFont;
    font-size: 20px !important;
    color: #7691E2;
}

.modal{
    background-color: #D7E5D6;
}