.headerDiv{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgb(1,1,1,0.05);
    height: 15vh;
    width: 80vw;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px #bbc591;
}
.block1{
    width: 30vw;
    height: 30vh;
    background-color: rgb(1,1,1,0.05);
    box-shadow: 10px 5px 5px #bbc591;
    border-radius: 30px;
    margin: 15px;
}