.entryList{
    overflow: auto;
    margin-bottom: 30px;
    width: 80vw;
}
.divList{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.singleEntryList{
    width: 80vw;
}

.yesNoButton{
    margin: 10px;
}
.yesNoButton:hover{
    color: #d5d4f3;
    background-color: #7691e2;
    border-color: #7691e2;
}
