.PigRun {
    height: 50px;
    overflow-x: hidden;
    animation: slideRight 15s infinite linear;
}

.pigdiv {
    overflow-x: visible;
    max-width: 100vw;
}

@keyframes slideRight {
    0% {
        transform: translateX(calc(-5%));
    }
    100% {
        transform: translateX(100vw);
    }
}
