.PigRun {
    height: 50px;
    overflow-x: hidden;
}

.pigdiv {
    width: 100vw;
    animation: slideRight 30s infinite linear;
}

@keyframes slideRight {
    0% {
        transform: translateX(calc(-5%));
    }
    100% {
        transform: translateX(100%);
    }
}
