.streakContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.streakDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 15px;
}

.streakImg{
    justify-content: center;
    width: 100%;
}