.streakContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.streakDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 15px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.streakImg {
    width: 100px; /* oder eine andere feste Größe */
    height: auto;
    margin-bottom: 10px; /* Abstand zwischen Bild und Text */
}